# =============================================================================
# @file    requirements.txt
# @brief   Python dependencies for CommonPy testing
# @created 2018-10-23
# @license Please see the file named LICENSE in the project directory
# @website https://github.com/caltechlibrary/commonpy
# =============================================================================

-r requirements.txt

pytest    >= 6.1.2
freezegun == 1.2.0
